# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.dear-imgui-unity.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\development\dear-imgui-unity\.idea\.idea.dear-imgui-unity.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
